{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"ja" }}">
<head>
  <img src="{% static 'cms/img/logo.png' %}">
  {% if user.id %}
  <a href="{% url 'cms:index_new' %}" class="btn btn-secondary" style="margin: 10px 0px;">最新</a>
  <a href="{% url 'cms:index_sea' %}" class="btn btn-secondary" style="margin: 10px 0px;">履歴</a>
  <a href="{% url 'cms:asset_list' %}" class="btn btn-secondary" style="margin: 10px 0px;">資産</a>
  <a href="{% url 'cms:menu' %}" class="btn btn-secondary" style="margin: 10px 0px;">設定（未作成）</a>
  <a href="{% url 'logout' %}" class="btn btn-primary" style="margin: 10px 0px;">ログオフ</a>
  {% else %}
  {% endif %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="{% static 'cms/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<style type="text/css">
@import url("cms/css/bootstrap.min.css");
@import url("https://unpkg.com/leaflet@1.2.0/dist/leaflet.css");
</style>
{% block extra_css %}{% endblock extra_css %}
<title>{% block title %}My assets{% endblock title %}</title>
</head>
<body>
  <div>
    {% block content %}
      {{ content }}
    {% endblock content %}
  </div>
<script src="{% static 'cms/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'cms/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>

